_sandbox
!.idea/copyright
!/.idea/codeStyles
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
.classpath
.cxx
.DS_Store
.externalNativeBuild
.gradle
.idea/*
.kotlin
.project
*.ap_
*.apk
*.class
*.dex
*.iml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/codeStyles/*
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
bin/
build/
captures/
gen/
generated/
local.properties
out/
